.markdown {
  font-size: 0.9rem;  /* Adjust as needed, e.g., 0.8rem, 1rem */
  max-width: 100%;    /* Or any specific value like 800px */
}

.expertise-block {
  font-size: 0.9rem;
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto;
}

.expertise-columns {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.expertise-columns .column {
  flex: 1;
  min-width: 300px;
}